body {
    background-color: #79B4B7;
}

.center {
    text-align: center;
}

.color1{
    color: #da5d5d;
}

.color2 {
    color: #d6597e;
}

.color3 {
    color: #1c64eb;
}

.color4 {
    color: #2A0944;
}